/*Universal*/
body{
    margin: 0;
    background-color: rgb(225, 184, 225);
}

h2, h3, p{
    text-align: center;
}

/**{
    border: 1px solid red;
}*/

/*Header*/
header{
    background-color: purple;
    padding-bottom: 2.5em;
}

header h1{
    margin: 0;
    padding: 1em;
    position: relative;
    right: 0.75em
}

header ul{
    list-style: none;
    position: absolute;
    top: 1.5em;
    right: 1em;
}

header ul a{
    text-decoration: none;
}

header ul li{
    display: inline;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black;
    background-color: rgb(199, 44, 199);
    color: black;
}

header img{
    width: 50%;
    /*NEED TO FIND A WAY TO STICK BORDER TO BOTTOM OF HEADER*/
}

/*Main*/
main{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    min-height: 50em;
}

main section{
    border: 1px solid black;
    min-width: 30em;
}

/*Projects*/
#projects #box{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#projects button{
    height: 2em;
    width: 2em;
    border-radius: 100%;
    border-style: none;
    background-color: rgb(199, 44, 199);
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
}

#projects button:hover{
    opacity: 1;
}

/*Footer*/
footer{
    background-image: linear-gradient(rgb(225, 184, 225), purple);
    /*position: absolute;
    bottom: 0;
    right: 0;
    left: 0;*/
}

footer ul{
    list-style: none;
    height: 5em;
    padding: 0;
    margin-bottom: 0;
}

footer ul li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 70%;
    width:28%;
}